<div>
    <h1>
        {{title}}
    </h1>
    <input ([ngModel])="initTodo.name" placeholder="what needed to bo done" (keyup.enter)="addItem()">
    <ul *ngIf="todos.length>0">
        <li *ngFor="let todo of todos">
            <input type="checkbox" (click)="toggleItemState(todo)">
            <span>{{todo.name}}</span>
            <div>
                <span (click)="">edit</span>
                <span (click)="deleteItem(todo)">delete</span>
            </div>
            <div>
                <span>commit</span>
                <span>cancel</span>
            </div>
        </li>
    </ul>
    <div *ngIf="todos.length>0">count:{{todos.length}}</div>
</div>