<div>
    <h1>
        {{title}}
    </h1>
    <div>
        <input [(ngModel)]="initTodo.title" autofocus="" placeholder="add..." (keyup.enter)="addItem()">
        <button (click)="addItem()">add</button>
    </div>
    <ul>
        <li *ngFor="let item of test" [class.checked]="todo.checked">
            {{item}}
        </li>
    </ul>
    <ul>
        <li *ngFor="let todo of todos">
            <input type="checkbox" (click)="toggleItemState(todo)">
            <div class="edit">
                <span [class.checked]="todo.checked" (dblclick)="editItem(todo)">{{todo.title}}</span>
                <input *ngIf="todo.editing" class="edit-input" autofocus="autofocus" [(ngModel)]="todo.title" type="text" (keyup.enter)="commitItem(todo)">
            </div>
            <div *ngIf="!todo.editing">
                <span (click)="editItem(todo)">edit</span>
                <span (click)="deleteItem(todo)">delete</span>
            </div>
            <div *ngIf="todo.editing">
                <span (click)="commitItem(todo)">commit</span>
                <span (click)="cancelItem(todo)">cancel</span>
            </div>
        </li>
    </ul>
</div>